@page "/configuration/inventory/item/footprint"
@using PWMS.Application.Addresses.Models
@using PWMS.Application.Common.Identity.Roles
@attribute [Authorize(Roles = $"{Role.SiteOwner}, {Role.SiteAdmin}, {Role.SiteUser}")]

<PageTitle>Footprints</PageTitle>

<MudContainer Style="width: 100%; min-width: 100%; max-height: calc(100vh - 64px - var(--mud-appbar-height)); min-height: calc(100vh - 64px - var(--mud-appbar-height));"
              Fixed="true"
              Class="p-1">
    <div style="height: 128px">
        <div class="d-flex flex-grow-1 flex-column gap-4">
            <MudText Typo="Typo.h6">Footprints</MudText>
            <MudSpacer />
            <div class="d-flex flex-grow-1 flex-row gap-1">
                <MudButton Variant="Variant.Outlined" OnClick="Add">Add</MudButton>
                <MudButton Variant="Variant.Outlined" Disabled="@_deleteDisabled" OnClick="Delete">Delete</MudButton>
                <MudSpacer />
                <MudIcon Icon="@Icons.Material.Filled.FilterAlt" Color="Color.Default" />
            </div>
        </div>
    </div>
    <MudDataGrid @ref="_dataGrid"
                 MultiSelection="true"
                 T="AddressDto"
                 ServerData="ServerReload"
                 Filterable="false"
                 ColumnResizeMode="MudBlazor.ResizeMode.Column"
                 Loading="@_loading"
                 RowClass="no-borders"
                 Elevation="0"
                 Style="min-width: 100%" FixedHeader Height="calc(100vh - 64px - 128px - var(--mud-appbar-height))"
                 @bind-SelectedItems="@_selectedAddresses">
        <Columns>
            <SelectColumn T="AddressDto" />
            <TemplateColumn Title="Id">
                <CellTemplate>
                    <MudLink Href="@($"/configuration/address/{@context.Item.Id}")">@context.Item.Id</MudLink>
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.AddressLine" />
            <PropertyColumn Property="x => x.AddressType" />
            <PropertyColumn Property="x => x.Created" />
            <PropertyColumn Property="x => x.CreatedBy" />
            <PropertyColumn Property="x => x.Modified" />
            <PropertyColumn Property="x => x.ModifiedBy" />
        </Columns>
        <NoRecordsContent>
            <MudText>No matching records found</MudText>
        </NoRecordsContent>
    </MudDataGrid>
</MudContainer>
<PWMS.Web.Blazor.Pages.Common.GridToolBar
    @bind-PageSize="_pageSize"
    @bind-PageIndex="_pageIndex"
    TotalItems="@_totalItems"
    RefreshGrid=@RefreshGrid />